In [ ]:
#

In [23]:
import pandas as pd
import bs4
base = 'https://www.tepco.co.jp/forecast/html/images/juyo-'
syear = 2019
eyear = 2021
ftype = '.csv'

In [24]:
ts_data = pd.DataFrame()

In [25]:
for year in range(syear,eyear+1):
    data = pd.read_csv('https://www.tepco.co.jp/forecast/html/images/juyo-'+ str(year) + ftype,encoding='cp932')

In [26]:
ts_data

                2021/1/1 18:10 UPDATE 2021/7/24 18:10 UPDATE
DATE      TIME                実績(万kW)                    NaN
2019/1/1  0:00                   3017                    NaN
          1:00                   2849                    NaN
          2:00                   2730                    NaN
          3:00                   2636                    NaN
...                               ...                    ...
2021/7/23 19:00                   NaN                   3990
          20:00                   NaN                   3730
          21:00                   NaN                   3518
          22:00                   NaN                   3331
          23:00                   NaN                   3160

[22443 rows x 2 columns]